.calendar {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  background-color: #f4f4f4;
  padding: 20px;
  display: flex;
  justify-content: center; /* Centers the header text */
  align-items: center;
  position: relative;
}

.calendar-controls {
  position: absolute;
  bottom: 10px; /* Moves the buttons to the bottom */
  left: 10px;   /* Aligns the buttons to the left */
}

.calendar-controls button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.calendar-controls button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.calendar-body {
  padding: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
}

.calendar-day {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  position: relative;
}

.calendar-day.day-name {
  background-color: #f0f0f0;
  font-weight: bold;
}

.calendar-day.sunday {
  color: red;
}

.calendar-day.holiday {
  background-color: #ffe0e0;
}

.holiday-name {
  display: block;
  font-size: 0.8rem;
  color: red;
  margin-top: 5px;
}

.calendar-day.empty {
  background-color: #f9f9f9;
}
.calendar-day.current-day {
  background-color: #216fc2c0;
  color: #fff;
  /* border-radius: 50%; */
}
