.goal-setting-view-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.goal-setting-view {
  display: flex;
}

.goal-setting-form {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.goal-header {
  margin-bottom: 20px;
}

.goal-setting-table {
  display: table;
  width: 100%;
  table-layout: fixed; /* Ensure fixed width for columns */
}

.goal-setting-header,
.goal-setting-row {
  display: table-row;
}

.goal-setting-cell {
  display: table-cell;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}

.goal-setting-cell:last-child {
  border-right: none;
}

.goal-setting-cell-sr {
  width: 10%; /* Adjust percentage as needed */
}

.goal-setting-cell-subject {
  width: 30%; /* Adjust percentage as needed */
}

.goal-setting-cell-prev-grade,
.goal-setting-cell-suggested-target,
.goal-setting-cell-target-for-this-grade {
  width: 20%; /* Adjust percentage as needed */
}

.goal-setting-row {
  border-bottom: 1px solid #eee;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.text-blue {
  color: #007bff;
}

.text-green {
  color: #28a745;
}

.tag-icon {
  margin-right: 5px;
}
