/* Global Styles */


.homepage-container-home {
  display: flex;
  background-image: url(./edu.jpg);
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homepage-heading-home {
  font-size: 50px;
  color: rgb(0, 0, 0) !important; /* Ensures the h1 tag in Home component is black */
}

.homepage-content-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  font-family: "Playfair Display", serif;
  justify-content: space-between;
}

.homepage-text-home {
  position: absolute;
  max-width: 70%;
  top: 85px;
  left: 30px;
  color: rgb(0, 0, 0);
  margin: 40px;
}

.rating-section {
  position: absolute;
  left: 150px;
  bottom: 30px;
}

.rating-stars {
  color: #FFD700; /* Gold color for stars */
  font-size: 24px;
}

.rating-value {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.rating-text {
  color: #ffffff;
  font-size: 16px;
}

/* Animation */
.rating-animation {
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

/* Animation for start-journey text */
.typing-animation {
  position: absolute;
  color: #FFD700;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
  background: linear-gradient(120deg, blue, green);
  background-size: cover;
  width: 80%;
  font-size: 30px;
  left: -1px;
  bottom: -50px;
  display: inline-block;
  opacity: 0; /* Initially hide characters */
  animation: leftToRight 2s forwards;
}

@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
    opacity: 0; /* Initially hidden */
  }
  100% {
    transform: translateX(0);
    opacity: 1; /* Fully visible */
  }
}

/* Responsive Styles */

@media (max-width: 1200px) {
  .homepage-text-home {
    max-width: 60%;
    top: 70px;
    left: 20px;
    margin: 30px;
  }
  .rating-section {
    left: 100px;
    bottom: 20px;
  }
  .rating-stars, .rating-value {
    font-size: 20px;
  }
  .rating-text {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .homepage-text-home {
    max-width: 80%;
    top: 50px;
    left: 10px;
    margin: 20px;
  }
  .rating-section {
    left: 50px;
    bottom: 10px;
  }
  .rating-stars, .rating-value {
    font-size: 18px;
  }
  .rating-text {
    font-size: 12px;
  }
  .typing-animation {
    width: 90%;
    font-size: 25px;
    left: -5px;
    bottom: -40px;
  }
}

@media (max-width: 480px) {
  .homepage-text-home {
    max-width: 90%;
    top: 30px;
    left: 5px;
    margin: 15px;
  }
  .rating-section {
    left: 20px;
    bottom: 5px;
  }
  .rating-stars, .rating-value {
    font-size: 16px;
  }
  .rating-text {
    font-size: 10px;
  }
  .typing-animation {
    width: 95%;
    font-size: 20px;
    left: -10px;
    bottom: -30px;
  }
  .homepage-heading-home {
    font-size: 40px;
  }
}
