/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
} */

.contactUs-container {
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contactUs-header {
    font-size: 3rem;
    text-shadow:2px 2px 4px#c34a4a;
    text-align: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: 
        linear-gradient(to right, rgba(90, 2, 2, 0.5), rgba(0, 0, 138, 0.5)),
        url('../Assets/contact3.jpeg');
    background-size: cover;
    background-position: center;
}

.header-title {
    margin: 0;
    font-size: 5 rem;
}

.connect-heading {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    color: #0c0c0c;
}

.contactUs-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
}

.contactInfo {
    flex: 1;
    margin-right: 20px;
}

.contactInfo h3 {
    text-align: center;
    color: #0b0c0b;
    margin-top: 0;
}

.contactInfo ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.contactInfo ul li {
    font-size: 1.1em;
    margin: 5px 0;
    font-weight: bold;
}

.contactInfo ul li i {
    margin-right: 10px;
    color: #4CAF50;
}

.contactInfo p {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.6;
}

.contactForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: linear-gradient(130deg, #fffdff, #c34a9b);
    padding: 30px;
    border-radius: 8px;
    max-width: 100%;
}

.contactForm label {
    margin-top: 10px;
    font-weight: bold;
}

.contactForm input, .contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: white;
}

.submit {
    /* margin-left: 35%; */
    margin-top: 10%;
    width: 40%;
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: 0.125em;
    --curve-size: 0.5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    cursor: pointer;
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: 0.25em 0.75em;
    font-size: 14px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    clip-path: polygon(
        0% var(--curve-size),
        var(--curve-size) 0,
        100% 0,
        100% calc(100% - var(--curve-size)),
        calc(100% - var(--curve-size)) 100%,
        0 100%
    );
    transition: color 250ms;
}

.submit::after,
.submit::before {
    content: "";
    position: absolute;
    inset: 0;
}

.submit::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
}

@keyframes move-bg7234 {
    0% {
        background-position: 31% 0%;
    }
    50% {
        background-position: 70% 100%;
    }
    100% {
        background-position: 31% 0%;
    }
}

.submit::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
        var(--border-width)
        calc(var(--curve-size) + var(--border-width) * 0.5),
        calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
        calc(100% - var(--border-width)) var(--border-width),
        calc(100% - var(--border-width)) calc(100% - var(--border-width) - var(--curve-size)),
        calc(100% - var(--curve-size) - var(--border-width) * 0.5) calc(100% - var(--border-width)),
        var(--border-width) calc(100% - var(--border-width))
    );
}

.submit:hover {
    color: var(--bg);
}
