/* Profile Page Layout */
.for-header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Sidebar styling */
.side-with {
  display: flex;
  flex: 1;
}

/* Sidebar styles */
.side-nav {
  width: 250px; /* Sidebar width */
  background-color: #2c3e50;
  color: white;
  height: 100vh;
  padding: 20px;
  position: fixed;
}

/* Main content section */
.profile-container { /* Adds margin to make space for the sidebar */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #ecf0f1;
  flex: 1;
  height: 100vh; /* Ensure it takes full height */
}

/* Profile Header styling */
.profile-headerer {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

.profile-headerer h1 {
  margin: 0;
}

/* Profile Info Section */
.profile-infos {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px; /* Set a max width to ensure it doesn't stretch too wide */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-infos p {
  margin: 10px 0;
  font-size: 16px;
}

.profile-infos strong {
  color: #2c3e50;
}
