.plogin-container {
    display: flex;
    background-image: url('../Assets/login.jpg');
    background-size: cover;
    justify-content: center;
  align-items: center;
  height: 100vh;
}

.plogin-card {
  width: 350px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.login-container {
    background-size: 100%;
    background-position: -90%;
}

.login-card:hover {
  transform: scale(1.05);
}

h2 {
  text-align: center;
  color: #333;
}

input[type="text"],
input[type="password"],
button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
button:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px #4CAF50;
}

button {
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.message {
  text-align: center;
  color: #FF0000;
  margin-top: 10px;
  font-style: italic;
}

@media (max-width: 768px) {
  .login-card {
    width: 90%;
  }
}
.submit{
  background-color: #45a049;
}