/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}*/

.logins-container {
  display: flex;
  background-image: url('../Assets/login.jpg');
  background-size: cover;
  justify-content: center;
align-items: center;
height: 100vh;
}


.login-card {
  width: 350px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.9);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px #4CAF50;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.submit {
  background-color: #4CAF50;
  color: white;
}

.submit:hover {
  background-color: #45a049;
}

.forgot-password-button {
  background-color: transparent;
  color: #af4c4c;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* .forgot-password-button:hover {
  color: #45a049;
} */

.message {
  text-align: center;
  color: #FF0000;
  margin-top: 10px;
  font-style: italic;
}

@media (max-width: 768px) {
  .login-card {
    width: 90%;
  }
}
