/* Dashboard.css */

.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .btn-container {
    display: flex;
    flex-wrap: wrap;
    height: 88vh;
    margin-top: 50px;
    padding: 10px;
  }
  
  .button-card {
    height: 10%;
    width: 24%;
    font-family: "Playfair Display", serif;
    font-size: 18px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    color: aliceblue;
    border-color: black;
    transition: all 0.3s ease;
    align-items: center;
    text-decoration: none;
  }
  
  .button-card:hover {
    transform: scale(1.05);
  }
  
  .icon {
    width: 9%;
    margin-right: 10px;
  }
  
  /* Class names for each button */
  .btn-1 {
    margin-left: 5px;
    background-color: rgb(144, 168, 190);
  }
  
  .btn-2 {
    margin-left: 5px;
    background-color: rgb(79, 62, 255);
  }
  
  .btn-3 {
    margin-left: 5px;
    background-color: rgb(66, 82, 173);
  }
  
  .btn-4 {
    margin-left: 5px;
    background-color: rgb(210, 209, 227);
  }
  
  .btn-5 {
    margin-left: 5px;
    background-color: rgb(79, 62, 255);
  }
  
  .btn-6 {
    margin-left: 5px;
    background-color: rgb(124, 123, 137);
  }
  
  .btn-7 {
    margin-left: 5px;
    background-color: rgb(66, 82, 173);
  }
  
  .btn-8 {
    margin-left: 5px;
    background-color: rgb(129, 181, 227);
  }
  
  .btn-9 {
    margin-left: 5px;
    background-color: rgb(79, 62, 255);
  }
  
  .btn-10 {
    margin-left: 5px;
    background-color: rgb(45, 98, 222);
  }
  
  .btn-100 {
    margin-left: 5px;
    background-color: rgb(112, 20, 98);
  }
  
  .btn-12 {
    margin-left: 5px;
    background-color: rgb(124, 123, 137);
  }
  
  .btn-13 {
    margin-left: 5px;
    background-color: rgb(144, 168, 190);
  }
  
  .btn-14 {
    margin-left: 5px;
    background-color: rgb(144, 168, 190);
  }
  
  .btn-15 {
    margin-left: 5px;
    background-color: rgb(124, 123, 137);
  }
  
  .btn-16 {
    margin-left: 5px;
    background-color: rgb(45, 98, 222);
  }
  
  .btn-17 {
    margin-left: 5px;
    background-color: rgb(124, 123, 137);
  }
  
  .btn-18 {
    margin-left: 5px;
    background-color: rgb(123, 240, 156);
  }
  
  .btn-19 {
    margin-left: 5px;
    background-color: rgb(66, 82, 173);
  }
  
  .btn-20 {
    margin-left: 5px;
    background-color: rgb(66, 82, 173);
  }
  
  .btn-21 {
    margin-left: 5px;
    background-color: rgb(45, 98, 222);
  }
  
  .btn-22 {
    margin-left: 5px;
    background-color: rgb(79, 62, 255);
  }
  
  .btn-23 {
    margin-left: 5px;
    background-color: rgb(79, 62, 255);
  }
  
  .btn-24 {
    margin-left: 5px;
    background-color: rgb(66, 82, 173);
  }
  .btn-1 { background-color: #5a9bd4; }
.btn-2 { background-color: #4caf50; }
.btn-3 { background-color: #f44336; }
.btn-4 { background-color: #ff9800; }
.btn-5 { background-color: #03a9f4; }
.btn-6 { background-color: #9c27b0; }
.btn-7 { background-color: #673ab7; }
.btn-8 { background-color: #8bc34a; }
.btn-9 { background-color: #e91e63; }